body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    max-width: 900px;
}
#blockedUrl {
    border-radius: 0.5rem 0 0 0.5rem !important;
}
#goButton {
    border-radius: 0 0.5rem 0.5rem 0 !important;
}